* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;;
}

body {
    background-color: #F5F4F0;
}

.subtitle {
    font-size: 16px;
    font-style: italic;
    color: #333333;
}

h1 {
    color: #1B1B1B;
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
}

footer {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #333333;
}

footer > img {
    color: #333333;
    vertical-align: middle;
}

footer > a {
    text-decoration: none;
    color: #333333;
    border-bottom: 1px solid #333333 ;
}